# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
env/
venv/
.venv/

# =========================
# Environment Variables / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Logs
# =========================
*.log

# =========================
# Alembic
# =========================
# DO NOT ignore alembic/
# DO NOT ignore alembic.ini

# =========================
# Postman
# =========================
# Keep Postman collections if they are useful